---
import PageMaxWidth from "@components/PageMaxWidth.astro";
import PagePadding from "@components/PagePadding.astro";
import DetailRow from "@components/DetailRow.astro";
import Painting from "@components/Painting.astro";
import ArtistArtworks from "@components/ArtistArtworks.astro";
import Layout from "@layouts/Layout.astro";
import { getArtwork, getArtworks } from "src/api/ClevelandArtAPI";
import {
  capitalize,
  creatorFullname,
  detailRowArrayValueWithFallback,
} from "src/utils/misc";
import NotFound from "@components/NotFound.astro";
import DetailRowArray from "@components/DetailRowArray.astro";

const { id } = Astro.params;

const { data: response, isError } = await getArtwork({ id });
const numberOfCreators = response?.data.creators.length ?? 0;
const creators = detailRowArrayValueWithFallback({
  data: response?.data.creators.map((creator) => {
    const artistName = creatorFullname(creator.description);
    return {
      value: artistName,
      href: `/artist/${creator.id}?name=${artistName}`,
    };
  }),
});

const cultures = detailRowArrayValueWithFallback({
  data: response?.data.culture.map((c) => ({
    value: c,
    href: `/culture?name=${c}`,
  })),
});

const creatorsArtworksQueries =
  response && !isError
    ? response.data.creators.map((creator) =>
        getArtworks({
          artists: creatorFullname(creator.description),
          limit: Math.ceil(7 / numberOfCreators),
        })
      )
    : [];

const dimensions = (width: number, height: number) =>
  `${Number(width * 100).toPrecision(4)}cm x ${(height * 100).toPrecision(
    4
  )}cm` ?? "Unknown";

const creatorsArtworks = await Promise.all(creatorsArtworksQueries);
const artworks = creatorsArtworks
  .flatMap(({ data: creator }) => creator?.data ?? [])
  .filter((artwork) => artwork.id !== Number(id));
---

<Layout title={response?.data.title ?? "Artwork not found"}>
  <PageMaxWidth>
    {
      isError || !id ? (
        <NotFound />
      ) : (
        <>
          <PagePadding>
            <div class="flex flex-col md:flex-row w-full gap-x-4 lg:gap-x-8 md:max-h-[75vh] md:h-max">
              <div class="max-h-[75vh] md:max-w-[60vw]">
                <Painting images={response.data.images} />
              </div>
              <div class="flex flex-col flex-1 gap-y-4 md:gap-y-4 pt-4 md:pt-1">
                {creators && creators.length ? (
                  <DetailRowArray
                    title={numberOfCreators === 1 ? "Creator" : "Creators"}
                    values={creators}
                  />
                ) : (
                  <DetailRow title="Creator" value="Unknown" />
                )}
                <DetailRow title="Title" value={response.data.title} />
                <DetailRow
                  title="Collection"
                  value={response.data.collection ?? "Unknown"}
                />
                <DetailRow
                  title="Creation date"
                  value={response.data.creation_date ?? "Unknown"}
                />
                <DetailRowArray title="Culture" values={cultures} />
                <DetailRow
                  title="Technique"
                  value={capitalize(response.data.technique) ?? "Unknown"}
                />
                {response.data.dimensions.framed && (
                  <DetailRow
                    title="Dimensions framed"
                    value={dimensions(
                      response.data.dimensions.framed.width,
                      response.data.dimensions.framed.height
                    )}
                  />
                )}
                {!response.data.dimensions.framed &&
                  response.data.dimensions.unframed && (
                    <DetailRow
                      title="Dimensions unframed"
                      value={dimensions(
                        response.data.dimensions.unframed.width,
                        response.data.dimensions.unframed.height
                      )}
                    />
                  )}
              </div>
            </div>
            <div class="pt-10">
              <ArtistArtworks
                titleClassName="text-xl"
                data={artworks}
                title={
                  numberOfCreators > 1
                    ? "More creators artworks"
                    : "More creator's artworks"
                }
              />
            </div>
          </PagePadding>
        </>
      )
    }
  </PageMaxWidth>
</Layout>
