---
import PagePadding from "@components/PagePadding.astro";
import type { ClevelandArtItem } from "@interfaces/IClevelandArt";
import Layout from "@layouts/Layout.astro";

const { id } = Astro.params;
const response = await fetch(`${import.meta.env.PUBLIC_API}/artworks/${id}`);
const d: { data: ClevelandArtItem } | undefined = await response.json();
const data = d?.data ?? undefined;
const creatorsAmount = data?.creators.length ?? 0;
// console.log(JSON.stringify(data!, null, 2));
---

<Layout title={data?.title ?? "Artwork not found"}>
  {
    !data ? (
      <div>{"Artwork not found"}</div>
    ) : (
      <div class="flex flex-col flex-1">
        <div class="flex w-full flex-col">
          <div class="w-full md:w-1/2">
            <img
              alt={data.title}
              src={data.images.web.url}
              class="w-full h-full"
            />
          </div>
          <PagePadding>
            <div class="flex flex-col">
              <p class="text-sm uppercase">{"Title"}</p>
              <p class="text-2xl">{data.title}</p>
            </div>
            <div class="flex flex-col mt-5">
              <p class="text-sm uppercase">
                {creatorsAmount === 1 ? "Author" : "Authors"}
              </p>
              {creatorsAmount === 1 ? (
                <p class="text-2xl">{data.creators[0].description}</p>
              ) : (
                data.creators.map((creator) => (
                  <p class="text-2xl">{creator.description}</p>
                ))
              )}
            </div>
          </PagePadding>
        </div>
      </div>
    )
  }
</Layout>
