---
import type { DetailRowProps } from "@interfaces/IComponentProps";
import DetailRowValue from "./DetailRowValue.astro";
import DetailRowTitle from "./DetailRowTitle.astro";
import { twMerge } from "tailwind-merge";
import CustomLink from "./CustomLink.astro";

export type Props = DetailRowProps;

const {
  title,
  value,
  titleClassName = "",
  valueClassName = "",
  containerClassName = "",
  showValue = true,
  showTitle = true,
} = Astro.props;
---

<div class={twMerge("flex flex-col", containerClassName)}>
  <DetailRowTitle showTitle={showTitle} className={titleClassName}>
    {title}
  </DetailRowTitle>
  <CustomLink>
    <DetailRowValue showValue={showValue} className={valueClassName}>
      {value}
    </DetailRowValue>
  </CustomLink>
</div>
