---
import { twMerge } from "tailwind-merge";
import Painting from "./Painting.astro";

import type { ArtItem } from "@interfaces/IArt";
import type { DetailRowBooleanProps } from "@interfaces/IComponentProps";
import { creatorFullname } from "src/utils/misc";
import DetailRow from "./DetailRow.astro";

export type Props = DetailRowBooleanProps & {
  item: ArtItem;
  itemClassName?: string;
};

const {
  item,
  showValue = true,
  showTitle = true,
  itemClassName = "",
} = Astro.props;

const creators = item.creators.map((c) => creatorFullname(c.description));
---

<a
  href={`/artwork/${item.id.toString()}`}
  class={twMerge("flex flex-col cursor-pointer relative", itemClassName)}
>
  <Painting images={item.images} />
  <div
    class="flex flex-col absolute bottom-0 z-10 bg-gradient-to-t from-zinc-800 w-full pb-3 pt-8 px-3 text-white"
  >
    <DetailRow
      showTitle={showTitle}
      title={item.title}
      showValue={showValue}
      value={creators}
    />
  </div>
</a>
