---
import type { PaintingProps } from "@interfaces/IComponentProps";
import { twMerge } from "tailwind-merge";
import { artImagesData } from "src/utils/misc";
import fallbackImg from "../../public/images/image-not-found.jpg";

export type Props = PaintingProps;

const { images, className = "", url, alt, assignSizes = false } = Astro.props;
const imageSource = images ? artImagesData(images) : null;
---

<>
  {
    !!url && !images && (
      <img
        src={url}
        alt={alt}
        onerror={`this.onerror=null; this.src='${fallbackImg}'`}
        class={twMerge(
          "object-contain w-full max-h-full max-w-full",
          className
        )}
      />
    )
  }
  {
    imageSource && !url && (
      <img
        src={imageSource.url}
        width={assignSizes && imageSource.width}
        height={assignSizes && imageSource.height}
        alt={imageSource.filename}
        onerror={`this.onerror=null; this.src='${fallbackImg}'`}
        class={twMerge("object-contain max-h-full max-w-full", className)}
      />
    )
  }
  {
    !imageSource && !url && (
      <div
        class={twMerge(
          "flex justify-center items-center bg-slate-600 aspect-square",
          className
        )}
      >
        <p class="text-white text-lg">{"Painting not found"}</p>
      </div>
    )
  }
</>
