---
import { twMerge } from "tailwind-merge";
import Painting from "./Painting.astro";
import type { PaintingWithDetailsProps } from "@interfaces/IComponentProps";
import {
  creatorFullname,
  detailRowArrayValueWithFallback,
} from "src/utils/misc";
import DetailRowArray from "./DetailRowArray.astro";

export type Props = PaintingWithDetailsProps;

const { item, itemClassName = "", ...props } = Astro.props;

const creators = detailRowArrayValueWithFallback({
  data: item.creators.map((creator) => {
    const artistName = creatorFullname(creator.description);
    return {
      value: artistName,
      href: `/artist/${creator.id}?name=${artistName}`,
    };
  }),
});
---

<a
  href={`/artwork/${item.id.toString()}`}
  class={twMerge("flex flex-col cursor-pointer relative", itemClassName)}
>
  <Painting images={item.images} />
  <div
    class="flex flex-col absolute bottom-0 z-10 bg-gradient-to-t from-zinc-800 w-full pb-3 pt-8 px-3 text-white"
  >
    <DetailRowArray title={item.title} values={creators} {...props} />
  </div>
</a>
